Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [5]:
import pandas as pd
#Small: 100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. Last updated 9/2018.

In [26]:
movie = pd.read_csv('C:\\Users\\Мария\\Desktop\\movies.csv',  encoding='utf-8')
ratings = pd.read_csv('C:\\Users\\Мария\\Desktop\\ratings.csv',  encoding='utf-8')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [22]:
rate = ratings[(ratings['rating']== 5.0)] #отфильтровываем только оценки фильмам 5.0
rate.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [24]:
rate['movieId'].value_counts().head(10) #выводим топ 10 фильмов с максимальным значением оценок 5.0 наш фильм самый первый

318     153
296     123
356     116
2571    109
260     104
593      92
527      92
858      88
2959     81
1196     80
Name: movieId, dtype: int64

'movieId' == 318 наш фильм

In [32]:
result = movie[(movie['movieId'] == 318)]
result

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [100]:
data = pd.read_csv('C:\\Users\\Мария\\Desktop\\power.csv')
data[ data['country'].str.contains('lit', case=False) ]['country'].unique() #использовал для поиска стран из задания

array(['Lithuania'], dtype=object)

In [111]:
fbc = data[(data['country']=='Lithuania') | (data['country']=='Estonia') | (data['country']=='Latvia')] #filtered by country
fbcat = fbc[(fbc['category']== 4) | (fbc['category']== 12) | (fbc['category']== 21)] #category
fbq = fbcat[(fbcat['quantity'] >= 0)] #filtered by quantity positive
fby = fbq[(fbq['year'] >= 2005) | (fbq['year'] <= 2010)]   #filtered by year                

sum_quantity[['country', 'quantity']].sum()

           quantity
country
Estonia    266014.0
Latvia     208780.0
Lithuania  495934.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes \
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [50]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
table = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
table[:10]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1038714      -              1038473
 1          NaN            EUR/RUB       897845      -               909405
 2          NaN            USD/RUB       745745      -               746090
 3          NaN            JPY/RUB        06997      -                06999
 4          NaN            CNY/RUB       115112      -               115180
 5          NaN            CHF/RUB       820561      -               820840
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12074      -                12184
 8          NaN            EUR/GBP        08678      -                08695
 9          NaN            EUR/JPY      1286550      -              1286350
 10         NaN            EUR/CHF        10973      -                11019
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08283      -                08283
 13         NaN            USD/GBP        07180      -                07182
 14         NaN            USD/JPY      1065850      -              1062400
 15         NaN            USD/CHF        09088      -                09085
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07800      -                07800
 18         NaN            JPY/GBP        00067      -                00067
 19         NaN            JPY/USD        00094      -                00094
 20         NaN    JPY/CHF (100:1)        08500      -                08500
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13929      -                14013
 23         NaN            GBP/JPY      1484569      -              1483741
 24         NaN            GBP/EUR        11532      -                11505
 25         NaN            GBP/CHF        12630      -                12675
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12630      -                12675
 28         NaN            EUR/CHF        10973      -                11019
 29         NaN    JPY/CHF (100:1)        08500      -                08500
 30         NaN            USD/CHF        09088      -                09085
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       338662      -               337696
 33         NaN            USD/UAH       280500      -               279700
 34         NaN            CHF/UAH       308641      -               307836
 35         NaN            GBP/UAH       390696      -               389454

           %  Абсолютное значение     Время
 0    0,02 %                00241  07:05:00
 1   -1,27 %               -11560  01:42:00
 2   -0,05 %               -00345  01:00:00
 3   -0,03 %               -00002  07:05:00
 4   -0,06 %               -00068  07:05:00
 5   -0,03 %               -00279  07:05:00
 6         %  Абсолютное значение     Время
 7   -0,90 %               -00110  01:02:00
 8   -0,19 %               -00017  01:03:00
 9    0,02 %                00200  06:47:00
 10  -0,42 %               -00046  01:03:00
 11        %  Абсолютное значение     Время
 12   0,00 %                00000  07:05:00
 13  -0,03 %               -00002  07:05:00
 14   0,32 %                03450  01:09:00
 15   0,04 %                00003  06:47:00
 16        %  Абсолютное значение     Время
 17  -0,02 %                00000  07:05:00
 18  -0,06 %                00000  07:05:00
 19  -0,02 %                00000  07:05:00
 20  -0,19 %                00000  01:00:00
 21        %  Абсолютное значение     Время
 22  -0,60 %               -00084  01:03:00
 23   0,06 %                00828  07:05:00
 24   0,23 %                00027  01:00:00
 25  -0,36 %               -00045  01:00:00
 26        %  Абсолютное значение     Время
 27  -0,36 %               -00045  01:00:00
 28  -0,42 %               -00046  01:03:00
 29  -0,19 %                00000  01:00:00
 30   0,04 %                00003  06:47:00
 31        %  Абсолютное значение     Время
 32   0,29 %                00967  07:05:00
 33   0,29 %                00800  07:05:00
 34   0,26 %                00805  07:05:00
 35   0,32 %                01242  07:05:00  ]